source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0, netstandard2.1
nuget fluentassertions.json
nuget FSharp.Core
nuget FSharpx.Extras
nuget Giraffe
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.NET.Test.Sdk
nuget nsubstitute
nuget xunit
nuget xunit.runner.visualstudio